.table-header {
background-color: #307ecc;
color: #FFF;
font-size: 14px;
line-height: 38px;
padding-left: 12px;
margin-bottom: 1px;
}
.lable_up {
    padding: 8px;
    line-height: 1.6;
    color: #fff;
    width: 30px !important;
    background-color: #1aaf07 !important;
}
.lable_down{
    padding: 8px;
    line-height: 1.6;
    color: #fff;
    width: 20px !important;
    background-color:red !important;
}

.lable_w {
    padding: 8px;
    line-height: 1.6;

    width: 150px !important;

}
.lable_ping {
    padding: 8px;
    line-height: 1.6;

    width: 200px !important;

}


.column {
    float: left;
    vertical-align: top;
    border: 1px solid #ccc;

    padding: 5px 5px 10px 8px;
    height: 800px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.column td {
height: 20px;
cursor: pointer;
padding: 5px;
}
.column th {
    padding-left: 10px;
    border-bottom: 2px solid #C9C6C6;

}


.dxxd-center {

    margin: 0px auto;
}

.dxxd-footer{

    width: 1200px;
}


.dxxd-charts {
width: 12%;
height: 400px;
vertical-align: top;
padding-right: 15px;
border: 1px solid #E1E6EB;
    margin-right: 8px;
}

.dxxd-charts-tail {
width: 87%;

vertical-align: top;
padding-right: 15px;
border: 1px solid #E1E6EB;

}


.table-viewer-header {
margin-top: 1px;
margin-bottom: -1px;
height: 40px;
background: #F5f6FA;
line-height: 38px;
border: 1px solid #e1e6eb;
position: relative;
border-left: 2px solid #6d7781;
}
.monitor-span{
    border: #adadad solid 1px;
    margin:10px 5px 10px 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.loginPage{





}


.ng-ul-list{
    margin-left: 30px;
}

.ng-div{
    height: 60px;
    margin-top: 0px;
    background-color: #F9F5F5;
    padding-top: 10px;
}

.login-screen {
background-color: #464646;
width: 100%;
max-width: 380px;
height: 200px;
margin: 0 auto;
}
.login-title{
   color:  #34dbce


}


.contained {
max-width: none;
height: 100%;
margin: 0px auto;
position: relative;
}
