{% extends "index.html" %}
{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">






                <ul id="main-nav" class="nav nav-tabs nav-stacked">
                    <li class="active">
                        <a href="#">
                            <i class="glyphicon glyphicon-th-large"></i>
                            服务器组
                        </a>
                    </li>


                    {% for group,ip_list in group_host.items%}
                    <li>
                        <a href="#{{group}}" class="nav-header " data-toggle="collapse">
                            <i class="glyphicon glyphicon-fire"></i>
                            {{group}}
                               <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="{{group}}" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            {%for ip in ip_list%}
                            <li><a onclick="getCharts(this)" href="#">{{ip}}</a></li>
                            {%endfor%}
                        </ul>
                    </li>
                    {%endfor%}

                </ul>
            </div>
             <script src="/static/js/highcharts.js"></script>
            <script>




                function getCharts(obj){
                    var host=$(obj).text();
                    var url ="/charts/" + host;

                    $.ajax({
                        url:url,
                        contentType:'application/json',
                        type:'get',
                        dataType:'json',
                        success:function(msg){


                            //var a=JSON.stringify(msg.data);


                            //aaa

                            $(function () {
    $('#container').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: '服务器负载'
        },

        xAxis: {

           type: 'datetime' ,


        },

         yAxis: {
          title: {
              text: '负载值'
          },


      },
      plotOptions: {
          area: {
              lineWidth: 2,

              marker: {
                  enabled: false
              },
              pointInterval: 5 * 60 * 1000,// one hour


          }
      },
        series: [{
            name: '负载',

            data:msg.data,
            //data: [['2015:01:15 10:00',0.1],['2015:01:15 10:05',0.7],['2015:01:15 10:10',0.0]],
        }],
    });
});


                            ///aaa

                        }

                    });

                }

                // 绘图




            </script>
            <div id="container" class="col-md-10" style="width: 800px">

            </div>
        </div>
    </div>


{% endblock %}