{% extends "index.html" %}
{% block content %}


    <div class="container-fluid">
        <div class="row">

           <div class="col-md-12 ng-div">
                <ul class="nav nav-pills ng-ul-list">


                    <li><a>服务器组|</a></li>
                      {% for id,group in group_host.items%}
                    <li ><a href="/charts/region/{{id}}" >{{group}}</a></li>
                    {%endfor%}


                </ul>
                </div>
            <div id="container" class="col-md-12">

                <table class="table table-striped table-bordered table-hover">
				<thead>

					<tr>
						<th>名称</th>
						<th>所在区</th>
						<th>IP地址</th>
						<th>配置</th>

					</tr>
				</thead>

				<tbody>
                {% for host in ip_list%}
					<tr style="height: 60px">

						<td class="lable_w"><a href="/charts/{{host.hostname}}/detail/"> {{ host.hostname }}</a></td>
						<td class="lable_w">{{ host.idc}}</td>
                        <td class="lable_w">{{host.ip}}</td>
						<td class="lable_ping">CPU： 1核    内存： 1GB</br>数据盘： 10G </td>

					</tr>
                {%endfor%}

                </tbody>


			</table>

            </div>

        </div>

    </div>


{% endblock %}