{% extends "index.html" %}
{% block content %}

<div class="container-fluid">
      <div class="row">

          <div class="column" style="width: 6%;margin-left: 18px;">
            <table>
              <tbody>
                    <tr>
						<th>Group</th>

					</tr>
            {% for ID,HOST in group_host.items %}
                <tr>

                  <td><i class=" glyphicon glyphicon-signal"></i><a class="host-group" id="{{ ID }}" href="#">&nbsp;{{ HOST }}</a> </td>

                </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="column" style="width: 8%;margin-left: 5px;">
            <table>
              <tbody id="myto">
                <tr>
						<th>Hostname</th>

				</tr>


              </tbody>
            </table>

          </div>
           <div class="column" style="width: 83%;margin-left: 8px;">
               <iframe id = "Shell" name="content" src="" width="100%" height="100%" style="border: 0px;"> </iframe>

          </div>

      </div>
      </div>

    <script>
      $('.host-group').click(function(){

          var url = "/host/"+ ($(this).attr('id'));
          $.ajax({
              url:url,
              contentType:'application/json',
              type:'get',
              dataType:'json',
              success:function(data) {
                  var tabtext = "<tr><th>Hostname</th></tr>";
                  $.each(data, function (hostname, ip) {

                     tabtext += '<tr> <td onclick="getShowInBox(this)">'+hostname+'</td></tr>';
                  });

                        $("#myto").html(tabtext);
              }
            });

});


    function getShowInBox(obj){
         var hostname = $(obj).text();


        $.ajax({

                type:'get',
                url:'/connect/',
                data:'hostname='+hostname,
                dataType:"json",

                success:function(msg){
                    if (msg){
                        var url =(msg.url);
                        $("#Shell").attr({src:url});
                        }
                    }


                });
    }


    </script>


      <div>


      </div>
</div>


{% endblock %}