
<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>运维系统</title>
    <!-- 最新 Bootstrap 核心 CSS 文件 -->


<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->


     <!-- 自定义-->

<link type="text/css" rel="stylesheet" href="/static/css/book_wx.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class=dxxd-center>

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <ul>
                <a class="navbar-brand">控制台首页</a>
                <a class="navbar-brand" href="/charts/">监控图</a>
                <a class="navbar-brand" href="/show_status/">服务器状态</a>
                <a class="navbar-brand" href="/console/">控制终端</a>
                <a class="navbar-brand" href="#">服务器管理</a>
            </ul>>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ user.username}}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <span class="caret"></span></a>

              <ul class="dropdown-menu" role="menu">
                <li><a href="/admins/">管理中心</a></li>
                <li><a href="/logout/">退出登陆</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

{#<label> Group#}
{#    <select class=" selectpicker" data-style="btn-info" >#}
{#        <option value="10" selected="selected">10</option>#}
{#    </select>#}
{#</label>#}
{% block content %}
    <div class="col-xs-12">
        {% for group,status in host_status.items %}
        <div class="table-header">
          {{ group }}
        </div>

        <table class="table table-striped table-bordered table-hover">
				<thead>

					<tr>
						<th>Status</th>
						<th>Hostname</th>
						<th>IP dress</th>
						<th>Port Status</th>
						<th>Ping Status</th>
                        <th>Down Count</th>
                        <th>Last Check</th>
					</tr>
				</thead>

				<tbody>
            {% for i in status%}
					<tr >
                        {% ifequal i.status "DOWN" %}
						    <td class="lable_down">{{ i.status }}</td>
                        {% else %}
                            <td class="lable_up">{{ i.status }}</td>
                        {% endifequal %}
						<td class="lable_w">{{ i.name }}</td>
						<td class="lable_w">{{ i.host }}</td>
                        <td class="lable_w">{{i.app_status}}</td>
						<td class="lable_ping">{{ i.ping_status }}</td>
                        <td >{{ i.down_count }}</td>
                        <td >{{i.last_check}}</td>
					</tr>

  {% endfor %}
                </tbody>


			</table>

    {% endfor %}


    </div>
{% endblock %}

</div>

<div class="dxxd-footer">

    <h3>© Company 2013</h3>

</div>



</body>
</html>