<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>System Login</title>
	<link type="text/css" rel="stylesheet" href="/static/css/login.css">
      <!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
{#<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<body class="eternity-form scroll-animations-activated">
<section data-panel="sixth" id="loginPage" class="colorBg6 colorBg dark active">
        <div class="container">
            <div class="login-form-section">
                <br>
                <div data-animation="bounceInLeft" class="forgot-password-section animated bounceInLeft">
                    <div class="section-title">
                       <h3>System Login</h3>
                    </div>
                    <div class="forgot-content">
                        <form method ="post" id="target" action="/index/">
                            <div class="textbox-wrap">
                                <div class="input-group">
                                   <span class="input-group-addon "><i
                                        class="glyphicon glyphicon-user"></i></span> <input type="text"
                                        placeholder="Username" name="username" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="textbox-wrap">
                               <div class="input-group">
                                   <span class="input-group-addon "><i class="glyphicon glyphicon-lock"></i></span> <input type="password" placeholder="Password" name="password" class="form-control " required="required">
                                </div>
                            </div>
                            <div class="forget-form-action clearfix">
                               <button class="btn btn-success pull-right green-btn"
                                    type="submit">
                                    LogIn&nbsp;
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>




	<script type="text/javascript">
		$(function() {
			$(".form-control").focus(function() {
				$(this).closest(".textbox-wrap").addClass("focused");
			}).blur(function() {
				$(this).closest(".textbox-wrap").removeClass("focused");
			});

			if('{{login_error}}') {
				var html = '<div data-animation-delay=".2s" data-animation="fadeInRightBig" class="login-form-links link1 animated fadeInRightBig"	style="animation-delay: 0.2s;"><h4 class="blue">{{login_error}}</h4></div>'
				$('div.login-form-section').append(html);
			}
		});
	</script>

</body>
</html>