{% extends "server.html" %}
{%block detail%}
<div id ="my_div" class="table-viewer-header clearfix">
          <div class="pull-left">监控信息</div>
          <div class="pull-right">
              <ul class="nav nav-pills">
                  <li>30分钟</li>
                  <li>一天</li>
                  <li>一月</li>
                  <li>一年</li>

              </ul>
          </div>
     <div id="load-avg" class="col-md-12" style="height: 340px"></div>

</div>
<script src="/static/js/highcharts.js"></script>


<script>


 //
 $(function () {
     var hostname =$('#host').text();
       $.ajax({

                type:'get',
                url:'/charts/'+hostname +'/monitor/',
                data:'hostname='+hostname,
                dataType:"json",

                success:function(msg){
                    if (msg){
                        var n_y = msg.times[0];
                        var n_m = msg.times[1];
                        var n_d = msg.times[2];
                        var n_H = msg.times[3];
                        var n_M = msg.times[4];
                        var data= msg["load_avg"];
                        //负载
  $(function () {
    $('#load-avg').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: '主机负载',
            align:'left',
            x:60,
            style:{
  color: '#FF842E',
  fontSize: '20px'
}
        },
        xAxis: {
           type: 'datetime' ,
            labels:{
        step:2,
    }
        },

         yAxis: {
          title: {
              text: '负载值',

          },
      },

        tooltip: {
            formatter: function() {
                return Highcharts.dateFormat('%Y-%m-%d %H:%M', this.x) + '<br/>' +
                         '<b>' + this.series.name + '  </b>' + Highcharts.numberFormat(this.y);
                        }
                    },

      plotOptions: {
          area: {
              lineWidth: 2,

              marker: {
                  enabled: false
              },
              pointInterval: 1 * 60 * 1000,

                 pointStart:Date.UTC(n_y,n_m,n_d,n_H,n_M),
          }
      },
        series: [{
            name: '负载',
            data:data,
        }],
    });
      //
    for (var eth in msg){

        if (eth =='times'){

        }
        else if (eth =='load_avg'){

        }
        else{
            var inter = eth;
            divtext='<div id="'+inter+'" class="col-md-12" style="height: 340px"></div>';
            $("#my_div").append(divtext);
            var need_id = "#"+inter;

            var into = msg[inter][1];
            var outo = msg[inter][0];
            $(need_id).highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text:eth + ' 网络',
             align:'left',
            x:60,
            style:{
  color: '#FF842E',
  fontSize: '20px'
}
        },
        xAxis: {
           type: 'datetime' ,
            labels:{
        step:2,
    }
        },
      credits : {
                enabled:false//不显示highCharts版权信息
              },
         yAxis: {
          title: {
              text: '流量 KB',
          },
      },

        tooltip: {
            formatter: function() {
                return Highcharts.dateFormat('%Y-%m-%d %H:%M', this.x) + '<br/>' +
                         '<b>' + this.series.name + '  </b>' + Highcharts.numberFormat(this.y) +'KB';
                        }
                    },

      plotOptions: {
          area: {
              lineWidth: 2,

              marker: {
                  enabled: false
              },
              pointInterval: 1 * 60 * 1000,

                 pointStart:Date.UTC(n_y,n_m,n_d,n_H,n_M),
          }
      },
        series: [
                {
            name: '出网',

            data:outo,
        },
                {
            name: '入网',
            color:'#FFF1D6',
            data:into,
        },


        ],
    });


        }


    }


      //
});
                        //aaa



                        //
                        }
                    }
                });
});
 //loadend

                // 绘图

</script>


{%endblock%}