{% extends "index.html" %}
{% block content %}


    <div class="container-fluid">
        <div class="row">

           <div class="col-md-12 ng-div">
                <ul class="nav nav-pills ng-ul-list">




                    <li id="host" ><h4>{{hostname}}</h4></li>
                    <li><a href="/charts/region/1" >返回服务器列表</a> </li>


                </ul>
           </div>

            <div class="col-md-12">
                <div class="dxxd-charts pull-left">
                    <ul class="nav nav-sidebar">

                        <li><a href="#">主机详情</a></li>
                        <li><a href="/charts/{{hostname}}/monitor/">监控信息</a></li>

                    </ul>

                </div>
                <div class="dxxd-charts-tail pull-left">
                    {%block detail%}
                    <div class="table-viewer-header clearfix"> <span>主机信息</span>  </div>


                    <table class="table  table-bordered ">


				<tbody>

					<tr >


						<td ><span>名称:</span><span>测试</span></td>
                        <td >状态:</td>
						<td >区域:</td>

					</tr>
                    <tr >


						<td >CPU:</td>
                        <td >内存:</td>
						<td >硬盘:</td>

					</tr>


                </tbody>


			</table>

{%endblock%}
                </div>
            </div>

        </div>

    </div>


{% endblock %}


